@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&family=Roboto:wght@300&display=swap');



body {
background-color: rgb(78, 78, 109);
font-family: "Karla","Roboto";
}


h1 {
font-size: 30px;
font-weight: bold;
margin-bottom: 0;
}

h2 {
font-size: 20px;
}

p {
font-size: 20px;
font-weight: 600;
}

.img-profile {
width: 200px;
border-radius: 100px;
margin-top: 10px;

}

.icon-class {
font-size: 50px;
margin-right: 50px;
margin-left: 50px;
}

.div1 {
background-color: rgb(181, 181, 212);
text-align: center;
width: 700px;
margin: 0 auto;
padding-bottom: 20px;
box-shadow: 1px 1px 15px rgb(133, 123, 123) ;
}

.div2 {
background-color: rgb(181, 181, 212);
text-align: center;
width: 700px;
margin: 0 auto;
padding-bottom: 50px;
box-shadow: 1px 1px 15px rgb(133, 123, 123);
}


.lewagon-button {
background-color: blueviolet;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
font-size: 20px;
color: black;
font-weight: 800;
border-radius: 20px;
}


a {
text-decoration: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
